@font-face {
   font-family: 'secrcode';
   src: url('../../assets/fonts/secrcode/secrcode.ttf');
}
@font-face {
   font-family: 'aliens and cows_trial';
   src: url('aliens and cows_trial/font.ttf');
}
/* ./secrcode/font.ttf */
